body{
    background-color: gray;
}

.selectOptions{
    background-color: white;
    width: 80px;
}
.selectOptionBtn{
    width: 50px;
    background-color: lightgray;
}
.helaSidan{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
}